.Blue{fill:#377AB5;}
.Yellow{fill:#FFB115;}
.green{fill:#4DAE89;}
.white{fill:white;}
.style0{fill:black;}
.style0{fill:#377ab5;}
.style1{fill:#717A7A;}
.Black{fill:#404040;}
.style2{fill:#EEB764;}
.Red{fill:#D04D2F;}
.style3{fill:#D11C1C;}
.White{fill:#FFFFFF;}
.style4{fill:#1D3838;}
.style5{fill:#5589C2;}
.style6{fill:#007BFF;}
.style7{fill:#1177D7;}
.style8{fill:#FFF;}
.style9{fill:#727272;}
.style10{fill:#1177d7;}
.style12{fill:#000;}
.style13{fill:#eeb764;}
.style14{fill:#fff;}
.style16{fill:#BA403F;}
.style17{fill:#005DAC;}
.Green{fill:#4dae89;}
.style18{fill:#C2923E;}
.style19{fill:#FFAC1A;}
.style20{fill:#367ab3;}
.style21{fill:#d04d2f;}
.style22{fill:#0979EC;}
.style23{fill:#7A2A90;}
.Orange{fill:#ffb115;}
.style24{fill:#737374;}
.style25{fill:#387cb7;}
.style26{fill:#439969;}
.style27{fill:#d40000;}
.style28{fill:#C25E55;}
.style30{fill:#039c23;}
.style33{fill:#d11c1c;}
.style35{fill:#1D6666;}