name: Release Tag

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
  workflow_dispatch:

jobs:
  windows:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Make upload directory
        run: mkdir upload

      - name: Publish win-x64
        run: dotnet publish ./DemoCenter/DemoCenter.Desktop/DemoCenter.Desktop.csproj -f net9.0 -r win-x64 -c Release --sc /p:PublishSingleFile=true /p:IncludeNativeLibrariesForSelfExtract=true -o ./publish/win64

      - name: Zip win-x64
        run: |
          $files = Get-ChildItem -Path ./publish/win64/* -Recurse -Exclude *.pdb
          Compress-Archive -Path $files.FullName -DestinationPath ./upload/EMX.Demo.Desktop.win-x64.zip

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows
          path: ./upload

  linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Make upload directory
        run: mkdir upload

      - name: Publish linux-x64
        run: dotnet publish ./DemoCenter/DemoCenter.Desktop/DemoCenter.Desktop.csproj -f net9.0 -r linux-x64 -c Release --sc /p:PublishSingleFile=true /p:IncludeNativeLibrariesForSelfExtract=true -o ./publish/linux64

      - name: Publish linux-x64 with files
        run: dotnet publish ./DemoCenter/DemoCenter.Desktop/DemoCenter.Desktop.csproj -f net9.0 -r linux-x64 -c Release -o ./publish/linux64Files

      - name: Rename app
        run: mv ./publish/linux64/DemoCenter.Desktop ./publish/linux64/DemoCenter.App

      - name: Copy library
        run: mv ./publish/linux64Files/libassimp.so ./publish/linux64/libassimp.so

      - name: Zip linux-x64
        run: zip -j -r ./upload/EMX.Demo.Desktop.linux-x64.zip ./publish/linux64 -x "*.pdb"

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: linux
          path: ./upload

  linux-rpi:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Make upload directory
        run: mkdir upload

      - name: Publish linux-arm64
        run: dotnet publish ./DemoCenter/DemoCenter.Desktop/DemoCenter.Desktop.csproj -f net9.0 -r linux-arm64 -c Release --sc /p:PublishSingleFile=true /p:IncludeNativeLibrariesForSelfExtract=true -o ./publish/linuxArm64
      - name: Rename app
        run: mv ./publish/linuxArm64/DemoCenter.Desktop ./publish/linuxArm64/DemoCenter.App

      - name: Zip linux-x64
        run: zip -j -r ./upload/EMX.Demo.Desktop.linux-arm64.zip ./publish/linuxArm64 -x "*.pdb"

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v4.3.1
        with:
          name: linux-rpi
          path: ./upload

  linux-orangepi:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Make upload directory
        run: mkdir upload

      - name: Publish linux-arm
        run: dotnet publish ./DemoCenter/DemoCenter.Desktop/DemoCenter.Desktop.csproj -f net9.0 -r linux-arm -c Release --sc /p:PublishSingleFile=true /p:IncludeNativeLibrariesForSelfExtract=true -o ./publish/linuxArm
      - name: Rename app
        run: mv ./publish/linuxArm/DemoCenter.Desktop ./publish/linuxArm/DemoCenter.App

      - name: Zip linux-arm
        run: zip -j -r ./upload/EMX.Demo.Desktop.linux-arm.zip ./publish/linuxArm -x "*.pdb"

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v4.3.1
        with:
          name: linux-orangepi
          path: ./upload


  osx-x64:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Make upload directory
        run: mkdir upload

      - name: Publish linux-arm64
        run: dotnet publish ./DemoCenter/DemoCenter.Desktop/DemoCenter.Desktop.csproj -f net9.0 -r osx-x64 -c Release --sc /p:PublishSingleFile=true /p:IncludeNativeLibrariesForSelfExtract=true -o ./publish/osx-x64

      - name: Zip osx-x64
        run: zip -j -r ./upload/EMX.Demo.Desktop.osx-x64.zip ./publish/osx-x64 -x "*.pdb"

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: osx-x64
          path: ./upload

  osx-arm64:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Make upload directory
        run: mkdir upload

      - name: Publish osx-arm64
        run: dotnet publish ./DemoCenter/DemoCenter.Desktop/DemoCenter.Desktop.csproj -f net9.0 -r osx-arm64 -c Release --sc /p:PublishSingleFile=true /p:IncludeNativeLibrariesForSelfExtract=true -o ./publish/osx-arm64

      - name: Zip osx-arm64
        run: zip -j -r ./upload/EMX.Demo.Desktop.osx-arm64.zip ./publish/osx-arm64 -x "*.pdb"

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: osx-arm64
          path: ./upload


  draft-release:
    needs: [ windows, linux, linux-rpi, osx-x64, osx-arm64, linux-orangepi ]
    runs-on: ubuntu-latest
    steps:
      - name: Download windows Artifacts
        uses: actions/download-artifact@v4
        with:
          name: windows

      - name: Download linux Artifacts
        uses: actions/download-artifact@v4
        with:
          name: linux

      - name: Download linux-rpi Artifacts
        uses: actions/download-artifact@v4
        with:
          name: linux-rpi

      - name: Download linux-orangepi Artifacts
        uses: actions/download-artifact@v4
        with:
          name: linux-orangepi

      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/') || github.event_name == 'workflow_dispatch'
        with:
          generate_release_notes: true
          draft: true
          files: |
            *.zip
